@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.selCanvas {
    position: absolute;
    border: 1px dashed black;
    display: block;
    z-index: 10; 
}

.handle {
    position: absolute;
    background-color: rgb(167, 34, 116);
    width: 5px;
    height: 5px;
}

.textSelection {
    position: absolute;
    border: 1px dashed black;
    display: none;
    z-index: 50; 
}

.textField {
    position: absolute;
    z-index: 10;
    resize: none;
}

.boldFontButtton {
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
} 

.italicsFontButtton {
    font-style: italic;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
}    

.underlinedFontButtton {
    text-decoration: underline;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
}  

.applyBtn {
    background: url('../../images/apply.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.abolishBtn {
    background: url('../../images/abolish.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.textBar, 
.shapeBar {
    display: flex;
    flex-direction: row;
}

.circleBtn {
    background: url('../../images/circle.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.rectangleBtn {
    background: url('../../images/square.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.triangleBtn {
    background: url('../../images/triangle.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.shapeBorder {
   position: absolute;
   border: 1px dashed black;
}

.shapeBar {
   height: 30px;
}

.slider {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: blueviolet;
    border: solid 1px black;
    z-index: 50 !important;
    /* cursor: se-resize; */
}