@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.selCanvas {
    position: absolute;
    border: 1px dashed black;
    display: block;
    z-index: 10; 
}

.handle {
    position: absolute;
    background-color: rgb(167, 34, 116);
    width: 5px;
    height: 5px;
}

.textSelection {
    position: absolute;
    border: 1px dashed black;
    display: none;
    z-index: 50; 
}

.textField {
    position: absolute;
    z-index: 10;
    resize: none;
}

.boldFontButtton {
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
} 

.italicsFontButtton {
    font-style: italic;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
}    

.underlinedFontButtton {
    text-decoration: underline;
    font-size: 20px;
    width: 30px;
    margin: 0 2px 0 2px;
}  

.applyBtn {
    background: url('../../images/apply.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 5px;
}

.abolishBtn {
    background: url('../../images/abolish.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 5px;
}

.shapeBar__buttons,
.textBar__buttons {
    margin: 0 auto;
}

.shapeBorder {
   position: absolute;
   border: 1px dashed black;
}

.textbar,
.shapeBar {
   display: flex;
   flex-direction: column;
   position: absolute;
   border: 1px solid rgb(110, 3, 44);
   background-color: #FFD6DA;
}

.shapebar__input {
    margin: 5px;
}

.shapebar__fillLabel,
.shapebar__borderLabel {
    margin: 5px 0 5px 5px;
}

.textbar__colorLabel {
    margin: 5px 5px 5px 0;
}    

.shapebar__fillLabel {
    margin-right: 30px;
}

.slider {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: blueviolet;
    border: solid 1px black;
    z-index: 50 !important;
}

.shapeBar {
    display: flex;
}

.shapeObjcanvasSel
{
    position: absolute;
    border: 2px dashed rgb(0, 2, 133);
    display: block;
    z-index: 10; 
    cursor: move;
}