.toolbar {
    display: flex;
    
}
.toolbar button {
    margin: 5px;
}

.textBar, 
.shapeBar {
    display: flex;
    flex-direction: row;
}

.circleBtn {
    background: url('../../images/circle.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.rectangleBtn {
    background: url('../../images/square.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.triangleBtn {
    background: url('../../images/triangle.png') no-repeat; 
    width: 25px;
    height: 25px;
    background-size: 100%;
}