.toolbar {
    display: flex;
    border: 1px solid rgb(110, 3, 44);
    background-color: #FFD6DA;
}

.toolbar button {
    margin: 5px 15px 5px 0;
}

.textBar, 
.shapeBar {
    display: flex;
    flex-direction: row;
}

.circleBtn {
    background: url('../../images/circle.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;
}

.rectangleBtn {
    background: url('../../images/square.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;
}

.triangleBtn {
    background: url('../../images/triangle.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;
}

.filterBtn {
    background: url('../../images/filter.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%; 
}

.webCamBtn {
    background: url('../../images/web-camera.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;   
}

.cropBtn {
    background: url('../../images/crop.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;  
}

.cutBtn {
    background: url('../../images/cut.png') no-repeat; 
    width: 30px;
    height: 30px;
    background-size: 100%;  
}